@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(19, 99, 223, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 61%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 60%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 1%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 28%;
  width: 115px;
  height: 115px;
  bottom: -115px;
  animation-delay: 13s;
}
.background li:nth-child(4) {
  left: 51%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 13s;
}
.background li:nth-child(5) {
  left: 59%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 17s;
}
.background li:nth-child(6) {
  left: 22%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 29s;
}
.background li:nth-child(7) {
  left: 0%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 33s;
}
.background li:nth-child(8) {
  left: 12%;
  width: 181px;
  height: 181px;
  bottom: -181px;
  animation-delay: 27s;
}
.background li:nth-child(9) {
  left: 88%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  animation-delay: 5s;
}
