<mat-card class="sidebar">

  <img
    class="logo"
    src="../../../assets/logo.svg"
    alt="brand logo">

  <div class="sidebar-item-group">

    <div
     class="sidebar-item"
     routerLink="/dashboard">
      <div
       mat-ripple
       matRippleColor=#2962ff56
       class="sidebar-item-button"
       routerLinkActive="sidebar-item-button-active">
        <mat-icon color="primary" class="sidebar-icon">view_quilt</mat-icon>
      </div>
      <p
       class="sidebar-item-name"
       routerLinkActive="sidebar-item-name-active">Dashboard</p>
    </div>

    <div
     class="sidebar-item"
     routerLink="/devices">
      <div
       mat-ripple
       matRippleColor=#2962ff56
       class="sidebar-item-button"
       routerLinkActive="sidebar-item-button-active">
        <mat-icon color="primary" class="sidebar-icon">developer_board</mat-icon>
      </div>
      <p
       class="sidebar-item-name"
       routerLinkActive="sidebar-item-name-active">Devices</p>
    </div>

    <div
     class="sidebar-item"
     routerLink="/routines">
      <div
       mat-ripple
       matRippleColor=#2962ff56
       class="sidebar-item-button"
       routerLinkActive="sidebar-item-button-active">
        <mat-icon color="primary" class="sidebar-icon">all_inclusive</mat-icon>
      </div>
      <p
       class="sidebar-item-name"
       routerLinkActive="sidebar-item-name-active">Routines</p>
    </div>

    <div
     class="sidebar-item"
     routerLink="/users">
      <div
       mat-ripple
       matRippleColor=#2962ff56
       class="sidebar-item-button"
       routerLinkActive="sidebar-item-button-active">
        <mat-icon color="primary" class="sidebar-icon">supervised_user_circle</mat-icon>
      </div>
      <p
       class="sidebar-item-name"
       routerLinkActive="sidebar-item-name-active">Users</p>
    </div>

    <div
     class="sidebar-item"
     routerLink="/extensions">
      <div
       mat-ripple
       matRippleColor=#2962ff56
       class="sidebar-item-button"
       routerLinkActive="sidebar-item-button-active">
        <mat-icon color="primary" class="sidebar-icon">extension</mat-icon>
      </div>
      <p
       class="sidebar-item-name"
       routerLinkActive="sidebar-item-name-active">Extensions</p>
    </div>

    <!-- <div
     class="sidebar-item"
     routerLink="/services"
     disabled>
      <div
       mat-ripple
       matRippleColor=#2962ff56
       class="sidebar-item-button"
       routerLinkActive="sidebar-item-button-active">
        <mat-icon color="primary" class="sidebar-icon">code</mat-icon>
      </div>
      <p
       class="sidebar-item-name"
       routerLinkActive="sidebar-item-name-active">Services</p>
    </div> -->

  </div>

</mat-card>
