.users-component {
  padding: 2rem;
}

.rounded-card{
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 20px));
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}

.your-card{
  min-height: 14rem;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  margin-bottom: 2rem;
}

.your-image{
  background-color: rgba(41, 98, 255, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  display: flex;
}

.your-icon{
  margin: auto;
  transform: scale(4.5);
}

.your-details{
  margin: 2rem;
  padding: auto 0;
}

.your-name{
  font-size: 3rem;
  font-weight: bold;
  margin-top: 22px;
}

.your-username{
  position: relative;
  bottom: 0.5rem;
  font-weight:200;
}

.your-admin-status{
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 10px));
  background-color: #2962ff;
  color: white;
  font-size: x-small;
  padding: 2px 5px;
  position: relative;
  bottom: 0.2rem;
}

.users-table{
  min-height: 20rem;
  padding: 0 1rem;
  padding-bottom: 2rem;
}

.heading{
  font-size: 2rem;
  font-weight: 700;
}

.table-head{
  padding: 1rem;
  display: flex;
}

.user-record{
  display: grid;
  grid-template-columns: auto 1fr 1fr;
}

.user-image{
  background-color: rgba(41, 98, 255, 0.1);
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: .5rem;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
}

.user-icon{
  margin: auto;
  transform: scale(1.4);
}

.user-details{
  margin: .3rem;
}

.user-name{
  font-size: large;
}

.user-username{
  font-weight: 300;
}

.user-admin-status{
  @extend .your-admin-status;
  margin-left: .5rem;
  position: relative;
  bottom: .1rem;
}

.action-button-group{
  margin-left: auto;
  display: flex;
  padding: 0 1rem;
}

.action-button{
  margin-top: .5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  margin-left: 0.7rem;
}

.action-button-icon{
  margin: auto;
  transform: scale(1.2);
  position: relative;
  left: 0.7rem;
  top: 0.7rem;
}

// .confirm-delete {
//   color: red;
//   background-color: black;
// }

.your-action-button{
  @extend .action-button;
  margin-top: auto;
  margin-bottom: 1rem;
}

.add-user{
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 24px));
  outline: auto;
  outline-color: #2962ff;
  outline-width: 2px;
  margin-top: .5rem;
  margin-left: auto;
  height: 3rem;
}

.no-user-found{
  margin: auto;
}

.form-fields {
  margin: 1rem;
}

//ngtemplate user edit section styles

.user-record-edit {
  padding: 1rem;
}

.update-button {
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 24px));
  font-size: large;
  height: 3rem;
  width: 7rem;
  margin-left: auto;
}
.close-button {
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 24px));
  outline: auto;
  outline-color: #2962ff;
  margin-left: 1rem;
  font-size: large;
  height: 3rem;
  width: 7rem;
}

.update-button-group {
  margin-top: 1rem;
  display: flex;
}

.edit-users-card {
  @extend .users-table;
  padding-bottom: 0.5rem;
}

.update-checkbox {
  position: relative;
  left: 1rem;
  bottom: 1.5rem;
}

.password-fields {
  position: relative;
  bottom: 1rem;
}
