<div class="users-component">

  <mat-card class="your-card rounded-card" *ngIf="!yourProfileEditMode;else yourProfileEditTemplate">
    <div class="your-image">
      <mat-icon color="primary" class="your-icon">person_outline</mat-icon>
    </div>
    <div class="your-details">
      <div class="your-name">{{loggedInUser.name}}</div>
      <div class="your-username">@{{loggedInUser.username}}</div>
      <span class="your-admin-status">{{loggedInUser.type}}</span>
    </div>
    <div class="action-button-group" *ngIf="!editMode&&!addUserMode">
      <div
        mat-ripple
        matRippleColor=#2962ff56
        class="your-action-button"
        (click)="onClickYourProfileEdit()">
          <mat-icon color="primary" class="action-button-icon">edit</mat-icon>
      </div>
    </div>
  </mat-card>


  <div *ngIf="!yourProfileEditMode">
  <div *ngIf="!addUserMode; else addUserTemplate">

  <mat-card class="users-table rounded-card" *ngIf="!editMode; else editTemplate">

    <div class="table-head">
      <span class="heading">Users</span>
      <button
        mat-stroked-button
        color="primary"
        class="add-user"
        (click)="onClickAddUser()">
          <mat-icon class="user-icon">add</mat-icon>
          Add user
      </button>
    </div>
    <mat-divider></mat-divider>

    <div class="no-user-found" *ngIf="users.length<=1">
      There is no one except you.
    </div>
    <div *ngFor="let user of users">
    <div *ngIf="user.username!=loggedInUser.username">

      <div class="user-record">

        <div class="user-image">
          <mat-icon color="primary" class="user-icon">person_outline</mat-icon>
        </div>

        <div class="user-details">
          <span class="user-name">{{user.name}}</span>
          <span class="user-admin-status" *ngIf="user.admin">ADMIN</span>
          <div class="user-username">@{{user.username}}</div>
        </div>

        <div class="action-button-group">
          <div
            mat-ripple
            matRippleColor=#2962ff56
            class="action-button"
            (click)="onClickUserEdit(user.username)">
              <mat-icon color="primary" class="action-button-icon">edit</mat-icon>
          </div>
          <div
            mat-ripple
            matRippleColor=#2962ff56
            class="action-button"
            (click)="onUserDelete(user.username);">
              <mat-icon color="primary" class="action-button-icon">delete</mat-icon>
          </div>
          <!-- <div
            mat-ripple
            matRippleColor=#2962ff56
            class="action-button confirm-delete"
            (click)="onUserDelete(user.username)">
              <mat-icon class="action-button-icon">warning</mat-icon>
          </div> -->
        </div>

      </div>
      <mat-divider></mat-divider>

    </div>
    </div>

  </mat-card>
</div>
</div>

<!-- User edit -->



<ng-template #editTemplate>
  <mat-card class="rounded-card edit-users-card">
    <div class="table-head">
      <span class="heading">Edit</span>
    </div>
    <mat-divider></mat-divider>

    <div class="user-record-edit">
      <div class="your-image">
        <mat-icon color="primary" class="your-icon">person_outline</mat-icon>
      </div>

      <div class="user-record-edit-fields">

        <mat-form-field class="form-fields" appearance="outline">
          <mat-label>
            Name
          </mat-label>
          <input
            matInput
            type="name"
            placeholder="Name"
            [(ngModel)]="_editedName">
        </mat-form-field>

        <mat-form-field
          class="form-fields"
          appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="username"
              placeholder="Username"
              [(ngModel)]="_editedUsername">
        </mat-form-field>
        <br>
        <mat-checkbox color="primary" class="update-checkbox" [(ngModel)]="_editedAdmin">Admin</mat-checkbox>
      </div>
      <mat-divider></mat-divider>
      <div class="update-button-group">
        <button
          mat-raised-button
          color="primary"
          type=""
          class="update-button"
          (click)="onUserEdit()">
            <mat-icon class="icons">edit</mat-icon>Confirm
        </button>
        <button
          class="close-button"
          mat-button color="primary"
          (click)="editMode=false">
            <mat-icon class="icons">close</mat-icon>Close
        </button>
      </div>

    </div>

  </mat-card>
</ng-template>


<!-- yourProfileEditTemplate -->

<ng-template #yourProfileEditTemplate>
  <mat-card class="rounded-card edit-users-card">
    <div class="table-head">
      <span class="heading">Edit your profile</span>
    </div>
    <mat-divider></mat-divider>

    <div class="user-record-edit">
      <div class="your-image">
        <mat-icon color="primary" class="your-icon">person_outline</mat-icon>
      </div>

      <div class="user-record-edit-fields">

        <mat-form-field class="form-fields" appearance="outline">
          <mat-label>
            Name
          </mat-label>
          <input
            matInput
            type="name"
            placeholder="Name"
            [(ngModel)]="_editedName">
        </mat-form-field>

        <mat-form-field
          class="form-fields"
          appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="username"
              placeholder="Username"
              [(ngModel)]="_editedUsername">
        </mat-form-field>

      </div>
      <div class="user-record-edit-fields password-fields" *ngIf="changePassword">

        <mat-form-field class="form-fields" appearance="outline">
          <mat-label>
            New password
          </mat-label>
          <input
            matInput
            type="password"
            placeholder="New password"
            [(ngModel)]="_editedPassword"
            required>
        </mat-form-field>

        <mat-form-field
          class="form-fields"
          appearance="outline">
            <mat-label>Confirm new password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Confirm new password"
              [(ngModel)]="_editedPasswordConfirm"
              required>
        </mat-form-field>

      </div>
      <mat-checkbox color="primary" class="update-checkbox" [(ngModel)]="changePassword">Change password</mat-checkbox>
      <mat-divider></mat-divider>
      <div class="update-button-group">
        <button
          mat-raised-button
          color="primary"
          type=""
          class="update-button"
          (click)="onYourProfileEdit()">
            <mat-icon class="icons">edit</mat-icon>Confirm
        </button>
        <button
          class="close-button"
          mat-button color="primary"
          (click)="yourProfileEditMode=false;changePassword=false">
            <mat-icon class="icons">close</mat-icon>Close
        </button>
      </div>

    </div>

  </mat-card>
</ng-template>


<!-- add-user-template -->

<ng-template #addUserTemplate>
  <mat-card class="rounded-card edit-users-card">
    <div class="table-head">
      <span class="heading">Add new user</span>
    </div>
    <mat-divider></mat-divider>

    <div class="user-record-edit">
      <div class="your-image">
        <mat-icon color="primary" class="your-icon">person_outline</mat-icon>
      </div>

      <div class="user-record-edit-fields">

        <mat-form-field class="form-fields" appearance="outline">
          <mat-label>
            Name
          </mat-label>
          <input
            matInput
            type="name"
            placeholder="Name"
            [(ngModel)]="_newUserName"
            required>
        </mat-form-field>

        <mat-form-field
          class="form-fields"
          appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="username"
              placeholder="Username"
              [(ngModel)]="_newUserUsername"
              required>
        </mat-form-field>

      </div>
      <div class="user-record-edit-fields password-fields">

        <mat-form-field class="form-fields" appearance="outline">
          <mat-label>
            New password
          </mat-label>
          <input
            matInput
            type="password"
            placeholder="New password"
            [(ngModel)]="_newUserPassword"
            required>
        </mat-form-field>

        <mat-form-field
          class="form-fields"
          appearance="outline">
            <mat-label>Confirm new password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Confirm new password"
              [(ngModel)]="_newUserPasswordConfirm"
              required>
        </mat-form-field>

      </div>
      <mat-checkbox color="primary" class="update-checkbox" [(ngModel)]="_newUserAdmin">Admin</mat-checkbox>
      <mat-divider></mat-divider>
      <div class="update-button-group">
        <button
          mat-raised-button
          color="primary"
          type=""
          class="update-button"
          (click)="onAddUser()">
            <mat-icon class="icons">add</mat-icon>Confirm
        </button>
        <button
          class="close-button"
          mat-button color="primary"
          (click)="addUserMode=false">
            <mat-icon class="icons">close</mat-icon>Close
        </button>
      </div>

    </div>

  </mat-card>
</ng-template>
