<div class="users-component">

  <mat-card class="your-card rounded-card">
    <div class="your-image">
      <mat-icon color="primary" class="your-icon">person_outline</mat-icon>
    </div>
    <div class="your-details">
      <div class="your-name">{{loggedInUser.name}}</div>
      <div class="your-username">@{{loggedInUser.username}}</div>
      <span class="your-admin-status">{{loggedInUser.type}}</span>
    </div>
    <div class="action-button-group">
      <div
        mat-ripple
        matRippleColor=#2962ff56
        class="your-action-button">
          <mat-icon color="primary" class="action-button-icon">edit</mat-icon>
      </div>
    </div>
  </mat-card>

  <mat-card class="users-table rounded-card">

    <div class="table-head">
      <span class="heading">Users</span>
      <button
        mat-raised-button
        color="primary"
        class="add-user">
          <mat-icon class="user-icon">add</mat-icon>
          Add user
      </button>
    </div>
    <mat-divider></mat-divider>

    <div class="no-user-found" *ngIf="users.length<=1">
      There is no one except you.
    </div>
    <div *ngFor="let user of users">
    <div *ngIf="user.username!=loggedInUser.username">

      <div class="user-record">

        <div class="user-image">
          <mat-icon color="primary" class="user-icon">person_outline</mat-icon>
        </div>

        <div class="user-details">
          <span class="user-name">{{user.name}}</span>
          <span class="user-admin-status" *ngIf="user.admin">ADMIN</span>
          <div class="user-username">@{{user.username}}</div>
        </div>

        <div class="action-button-group">
          <div
            mat-ripple
            matRippleColor=#2962ff56
            class="action-button"
            (click)="onUserEdit(user.username)">
              <mat-icon color="primary" class="action-button-icon">edit</mat-icon>
          </div>
          <div
            mat-ripple
            matRippleColor=#2962ff56
            class="action-button"
            (click)="onUserDelete(user.username)">
              <mat-icon color="primary" class="action-button-icon">delete</mat-icon>
          </div>
        </div>

      </div>
      <mat-divider></mat-divider>

    </div>
    </div>

  </mat-card>

</div>
