<div class="dashboard">
  <div class="widgets">

    <mat-card class="rounded-card widget-cards time-card">
      <div class="time-top-gradient"></div>

      <div class="time-container">
        <h1 class="time">{{ today | date:'hh:mm:ss' }}</h1>
        <span class="am-pm">{{ today | date:'a' }}</span>
        <div class="date">
          <span class="eeee">{{ today | date:'EEEE' }}</span>
          {{ today | date:', d MMMM y' }}
        </div>
      </div>

      <app-time-wave-animation></app-time-wave-animation>
      <div class="filler"></div>
    </mat-card>

    <div *ngFor="let widget of widgets">
    <mat-card
      class="rounded-card widget-cards"
      [ngClass]="{'state-on': widget.state}">

      <div class="widget-container">
        <div>
          <div class="device-image">
            <mat-icon class="device-icon">wb_incandescent</mat-icon>
          </div>

          <div class="device-details">
            <span class="device-name">{{widget.deviceName}}</span>
            <span class="device-status" *ngIf="widget.deviceStatus">Online</span>
            <span class="device-status" *ngIf="!widget.deviceStatus">Offline</span>
            <div class="device-id">#{{widget.deviceId}}@{{widget.deviceConnector}}</div>
          </div>

        </div>
        <div class="toggle-container">
          <span *ngIf="widget.state">On</span>
          <span *ngIf="!widget.state">Off</span>
          <mat-slide-toggle
            class="toggle-button"
            [(ngModel)]="widget.state"
            (click)="setState(widget.deviceId,widget.deviceConnector,widget.intensity,widget.state)"></mat-slide-toggle>
        </div>
        <div class="percentage">{{widget.intensity}}%</div>
        <mat-slider class="slider">
          <input
            matSliderThumb
            [(ngModel)]="widget.intensity"
            (click)="setState(widget.deviceId,widget.deviceConnector,widget.intensity,widget.state)">
        </mat-slider>
      </div>

    </mat-card>
    </div>

    <!-- <button mat-fab color="primary" matTooltip="Dashboard Settings" aria-label="Dashboard settings" class="float-button">
      <mat-icon>settings</mat-icon>
    </button> -->
  </div>
</div>
