<div class="dashboard">
  <div class="widgets">

    <mat-card class="rounded-card widget-cards time-card">
      <div class="time-top-gradient"></div>

      <div class="time-container">
        <h1 class="time">{{ today | date:'hh:mm:ss' }}</h1>
        <span class="am-pm">{{ today | date:'a' }}</span>
        <div class="date">
          <span class="eeee">{{ today | date:'EEEE' }}</span>
          {{ today | date:', d MMMM y' }}
        </div>
      </div>

      <app-time-wave-animation></app-time-wave-animation>
      <div class="filler"></div>
    </mat-card>

    <mat-card class="rounded-card widget-cards state-on">

      <div class="widget-container">
        <div>
          <div class="device-image">
            <mat-icon class="device-icon">wb_incandescent</mat-icon>
          </div>

          <div class="device-details">
            <span class="device-name">devie</span>
            <span class="device-status">Online</span>
            <div class="device-id">#001@0001</div>
          </div>
        </div>
        <div class="toggle-container">
          <span>On</span>
          <mat-slide-toggle class="toggle-button"></mat-slide-toggle>
        </div>
        <div class="percentage">70%</div>
        <mat-slider class="slider">
          <input matSliderThumb>
        </mat-slider>
      </div>

    </mat-card>

    <mat-card class="rounded-card widget-cards">

      <div class="widget-container">
        <div>
          <div class="device-image">
            <mat-icon class="device-icon">wb_incandescent</mat-icon>
          </div>

          <div class="device-details">
            <span class="device-name">devie</span>
            <span class="device-status">Online</span>
            <div class="device-id">#001@0001</div>
          </div>
        </div>
        <div class="toggle-container">
          <span>On</span>
          <mat-slide-toggle class="toggle-button"></mat-slide-toggle>
        </div>
        <div class="percentage">70%</div>
        <mat-slider class="slider">
          <input matSliderThumb>
        </mat-slider>
      </div>

    </mat-card>
    <button mat-fab color="primary" matTooltip="Dashboard Settings" aria-label="Dashboard settings" class="float-button">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
