<div class="view-container">
  <mat-card
   class="sidebar">
    <img
      class="logo"
      src="../../../assets/logo.svg"
      alt="brand logo">

    <div class="sidebar-item-group">

      <div class="sidebar-item">
        <div
          mat-ripple
          matRippleColor=#2962ff56
          class="sidebar-item-button sidebar-item-button-active">
          <mat-icon color="primary" class="sidebar-icon">view_quilt</mat-icon>
        </div>
        <p class="sidebar-item-name sidebar-item-name-active">Dashboard</p>
      </div>

      <div class="sidebar-item">
        <div
          mat-ripple
          matRippleColor=#2962ff56
          class="sidebar-item-button">
          <mat-icon color="primary" class="sidebar-icon">developer_board</mat-icon>
        </div>
        <p class="sidebar-item-name">Devices</p>
      </div>

      <div class="sidebar-item">
        <div
          mat-ripple
          matRippleColor=#2962ff56
          class="sidebar-item-button">
            <mat-icon color="primary" class="sidebar-icon">all_inclusive</mat-icon>
        </div>
        <p class="sidebar-item-name">Routines</p>
      </div>

      <div class="sidebar-item">
        <div
          mat-ripple
          matRippleColor=#2962ff56
          class="sidebar-item-button">
            <mat-icon color="primary" class="sidebar-icon">supervised_user_circle</mat-icon>
        </div>
        <p class="sidebar-item-name">Users</p>
      </div>

      <div class="sidebar-item">
        <div
          mat-ripple
          matRippleColor=#2962ff56
          class="sidebar-item-button">
            <mat-icon color="primary" class="sidebar-icon">extension</mat-icon>
        </div>
        <p class="sidebar-item-name">Extentions</p>
      </div>

      <div class="sidebar-item">
        <div
          mat-ripple
          matRippleColor=#2962ff56
          class="sidebar-item-button">
            <mat-icon color="primary" class="sidebar-icon">code</mat-icon>
        </div>
        <p class="sidebar-item-name">Services</p>
      </div>

    </div>

  </mat-card>
  <div class="main">

  </div>
</div>
